* {
    margin:0;
    padding:0;
}
body{
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgba(200,0,0, 0.8);
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    padding: 0.7em 0;

}
nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 0 0.8em;
    margin: 1em;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
nav li a:hover{
    opacity: 0.65;
}
nav li #title{
    color:#fff;
    padding-left: 2em;
}
nav li #inicial{
    margin-left: 20em;
}
h1{
    margin-left: 1em;
}
#contato li{
    margin-left: 6em;
}
.sobre{
    margin-left: 3em;
}
.textosobre{
    margin-left: 6em;
    margin-right: 6em;
    text-align: justify;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 20em;
    box-sizing: border-box;
}
footer{
    margin-top: 3em;
    padding: 2em 0;
    background-color: rgba(200,0,0, 0.8);
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;    
}